/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e5f5f4;
  color: #000080;
}

.container {
  text-align: center;
  background-color: #43ADA2;
  padding: 40px 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  color: #000080;
}

header h2 {
  margin: 10px 0 40px 0;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  background-color: #FFCA28;
  border-radius: 20px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.step:hover {
  background-color: #FFB300;
  transform: translateY(-5px);
}

.icon {
  margin-right: 15px;
  color: #43ADA2;
  font-size: 24px;
}

.step span {
  font-weight: 700;
  font-size: 18px;
}

.arrow {
  width: 50px;
  height: 5px;
  background-color: #000080;
  margin: 0 20px;
  border-radius: 2px;
  transition: width 0.3s;
}

.arrow:hover {
  width: 70px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .arrow {
    width: 70px;
    height: 5px;
    margin: 20px 0;
  }
}
